* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family: 'Montserrat', sans-serif;
}

/* main structure */

main {
    overflow-y: auto;
    overflow-x: hidden;
}

.display-none.play{
    display: none;
}

#upper {
    height: calc(100vh - 150px);
    color: white;
    
    background-color: black;
    display: flex;
    background-color: #141922;
}


footer {
    height: 150px;
    width: 100%;
    background-color: #282828;
}

/* MENU NAV */
#eseguibili {
    font-size: 14px;
    width: 200px;
    height: 100%;
    background-color: black;
    overflow-y: auto;
    
    
    
}

.container-eseguibili {
    height: 100%;
    width: 85%;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.logo {
    width: 80%;
    margin-bottom: 30px;
    

}

.loghi-nav {
    width: 100%
    

}

.logo-phone {
    display: none;
}



.block-loghi {
    
    width: 100%;
    display: flex;
    align-items: center;
    color:#707277;
    font-size: 20px;
    gap: 10px;
    margin-bottom: 20px;
    
}

.loghi-nav > :first-child {
    position: relative;
    
  }

.block-loghi svg { 
    width: 15%;
    fill: #707277;
    
    
}

.end {
    padding-bottom: 10px;
    border-bottom: 2px solid #707277;
    
}

.end svg {
    width: 10%;
}

.profile {
    color: white;
    font-weight: bold;
}


.profile svg {
    fill: white;
    background-color: #707277;
    border-radius: 999px;
    
    
    

    
}




#add-playlist {
    
    width: 50px;
    height: 50px;
    color: black;
    font-size: 40px;
    background-color:#707277; 
    text-align: center;
    
}

.playlist {
    margin-top: 20px;
    display: flex;
    align-items: center;
    color:#707277;
    font-size: 20px;
    gap: 10px;
    margin-bottom: 20px;
    
}

#final-part-nav {
    margin-bottom: 30px;
    
}


.container {
    width: calc(100vw - 200px);
    height: 100%;
    
    
}
/* call to action */
#call-to-action {
    
    width: calc(100% - 200px);
    height: 100px;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
   
}

.button {
    display: inline-block;
    padding: 10px 30px;
    border-radius: 20px;
    border: 2px solid white;
    font-size: 18px;
    margin-right: 40px;
    font-weight: 600;
    
}

#nav-classifiche {
    
    width: 100%;
   
    
}

.classifiche {
    margin-top: 180px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    color: #707277;
}

.classifiche > :first-child {
    position: relative;
}

.board { 
    
    text-align: center;
    width: 40%;
    height: 2px;
    background-color: yellowgreen;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translate(-50%,0);
    
}

.board.left {
    width: 2px;
    height: 100%;
    position: absolute;
    left: -7.5%;
    top: 0;
}






/* album preview */

.album-preview {
    
    width: calc((100% / 6) - 20px);
    height: calc((100% / 6) - 20px);
    text-align: center;
    margin-bottom: 30px;
    
}

/* parte responsive */
@media screen and (max-width: 768px) {  
    .album-preview {
    
        width: calc((100% / 4) - 20px);
        height: calc((100% / 4) - 20px);
        }
        .button {
            display: inline-block;
            padding: 10px 10px;
            border-radius: 20px;
            border: 2px solid white;
            font-size: 14px;
            margin-right: 40px;
            font-weight: 600;
    }

    #eseguibili {
        width: 200px;
        height: 100%;
        background-color: black;
        
    }

    #call-to-action {
    
        width: calc(100% - 200px);
        height: 150px;
        background-color: rgba(0, 0, 0, 0.4);
        display: flex;
        justify-content: flex-end;
        align-items: center;
        position: fixed;
        top: 0;
        right: 0;
       
    }
}
@media screen and (max-width: 480px) {
    .album-preview {
    
        width: calc((100% / 2) - 20px);
        height: calc((100% / 2) - 20px);
        }
        #player-left {
    
         
            gap:20px
        
        }
}

@media screen and (max-width: 430px) {
    .container {
        width: calc(100vw - 50px);
        height: 100%;
    }
    .logo-phone {
        display: block;
        width: 80%;
        
    }
    #eseguibili {
        width: 50px;
        height: 100%;
        background-color: black;
    
    
}
#call-to-action {
    
    width: calc(100% - 50px);
    
   
}
.display-none {
    display: none;
}

#eseguibili svg{ 
    width: 80%;
    margin-top: 10px;
}
}
.album-preview.circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 999px;
}

.album-preview img {
    
    width: 100%;
    height: 100%;
    object-fit: contain;
    
}

.album-preview h3 {
    color:#707277; 
    margin-top: 10px;
}

.album-preview h2 {
    font-size: 14px;
    margin-top: 10px;
    
}
.row {
   
    margin-top: 30px;
    
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    
}

.start {
    justify-content: flex-start;
    gap: 10px
    ;
}

.compilation {
    margin-bottom: 50px;
}

.compilation h3 {
    font-size: 14px;
    color: #707277;
    margin: 10px 0;
}



.container-main {
    
    
    width: 95%;
    margin: 30px auto;
}


/* parte footer */

.container-footer {
    height: 100%;
    width: 97%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.preview-immage {
    width: 20%;
    
    

}

.preview-immage img{
    width: 100%;
    
    
}

#player-left {
    
    width: 15%;
    height: 100%;
    display: flex;
    
    align-items: center;
    gap:10px

}

.title-preview {
    color: white;
    font-size: 10px;
    
}

.title-preview h3 {
    color: #707277;
}

.logo-font {
    color: #707277;
    font-size: 18px;
    display: flex;
    gap: 10px;
}


#player-middle {
    
    
    color: white;
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px
    ;

}

.loghi-player {
    font-size: 18px;
    display: flex;
    gap: 20px;
}

.bar {

    height: 10px;
    width: 80%;
    background-color: #707277;
    border-radius: 20px;
}

.minibar {
    width: 30%;
    height: 10px;
    background-color: white;
    border-radius: 20px; 
    position: relative;
}

.circle-white {
    width: 14px;
    height: 14px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    transform: translate(50%,-15%);
    right: 0;
    top: 0;
    display: none;
}

.player-bar{
    
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    
}

.player-end {
    color: white;
    width: 15%;
    display: flex;
    
    gap: 10px
    ;

}